@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mirandas Maffia Magiska Marknad</h1>
    <p>Detta projekt kom till en alldeles för sen natt, med hjälp av Magi</p>
    <p>Projektet skapades för CLO22 av Hanna Malin Eric Carlo, Campus Mölndal, 2022</p>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p><center>=^..^=</center></p>

